@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
margin: 0;
padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    min-width: 100vw;
    height: 100vh;
    background: whitesmoke;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    width: max-content;
     border-radius: 55px;
    padding: 1em;
    h2
    {
    margin-top: 1.6em;
    }
 
   
    
}

#output
{
    width: 100%;
    line-height: 2;
    padding: 10px;
    margin-bottom: 1em;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#form
{  
 
    width: max-content;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    input
    {
    width: 400px;
    max-width: 75vw;
     margin-bottom: 1em;
     border: none;
     background: rgb(233, 233, 233);
     padding: 25px;
     margin-top: 1em;
     border-radius: 10px;
     color: black;
    }
    p 
    {
        font-weight: 500;
        margin-top: 10px;
    }
    #submit
    {
        width: 450px;
        max-width: 75vw;
        border: none;
        margin-top: 1.5em;
        padding: 25px;
        border-radius: 5px;
        background: #0A1215;
        color: white;
        cursor: pointer;
  &:hover
  {
      background: #CB2532;
      outline: none;
      border-radius: 5px;
      border-bottom: 5px solid black;
      margin-bottom: -5px;
      transition: 0.1s;
  }
    }
}
@media only screen and (max-width: 600px) {
    body {
      max-width: 100%;
      margin: 0;
      padding: 0;
      
    }
    .container
    {
        margin: 0;
        padding: 0;
        max-width: 100%;
        h2
        {
            margin-bottom: 2em;
        }
    }
    #form
    {
        display: flex;
        justify-content: center;
        align-items: center;

       p
       {
           width: 100%;
           text-align: left;
       }
       padding: 0;
        max-width: 100%;
        input
        {
            max-width: 75vw;
         
        }
        #submit
        {
            width: 75vw;
            cursor: pointer;
           
           
        }
    }
    #output
    {
        max-width: 100%;
        margin-top: 2em;
    }
  }
  