/* <style> */
.footer-basic {
    /* position: sticky; */
    /* sticky */
    display: inline-block;
    vertical-align: top;
    bottom: 0;
    width: 100%;
    /* changes done */
    height: 100px;
    /* changes done */
    margin-top: 10%;
    padding: 40px 0;
    /* changes done */
    background-color: #f3c5c5;
    /* changes done */
    color: #f8f4f4;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    /* position: sticky; */
    /* sticky */
    display: inline-block;
    vertical-align: top;
    bottom: 0;
    width: 100%;
    height: 100px;
    /* padding:40px 0; */
    background-color: #f7cbcb;
    color: #f8f4f4;
    margin-top: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* changes done */

.footer-basic ul {
    padding: 0px;
    list-style: none;
    text-align: center;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
    box-shadow: 0px 0px 8px white;
    transform: translateY(-2px);
}

.footer-basic .social a#change:hover {
    background: #aaa;
}

.footer-basic .social a#change2:hover {
    background: #2867b2;
}

.footer-basic .social a#change3:hover {
    background: #55acee;
}

.footer-basic .social a#change4:hover {
    background: #3b5998;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}

#submit {
    transition: transform 1s;
}

#submit:hover {
    transform: scale( 1.1);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.grow {
    transition: transform 1s;
}

.grow:hover {
    transform: scale( 1.1);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


/* </style> */
