@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  min-width: 100vw;
  height: 100vh;
  background: whitesmoke;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 55px;
  padding: 1em;
}

.container h2 {
  margin-top: 1.6em;
}

#output {
  width: 100%;
  line-height: 2;
  padding: 10px;
  margin-bottom: 1em;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#form {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#form input {
  width: 400px;
  max-width: 75vw;
  margin-bottom: 1em;
  border: none;
  background: #e9e9e9;
  padding: 25px;
  margin-top: 1em;
  border-radius: 10px;
  color: black;
}

#form p {
  font-weight: 500;
  margin-top: 10px;
}

#form #submit {
  width: 450px;
  max-width: 75vw;
  border: none;
  margin-top: 1.5em;
  padding: 25px;
  border-radius: 5px;
  background: #0A1215;
  color: white;
  cursor: pointer;
}

#form #submit:hover {
  background: #CB2532;
  outline: none;
  border-radius: 5px;
  border-bottom: 5px solid black;
  margin-bottom: -5px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

@media only screen and (max-width: 600px) {
  body {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  .container {
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
  .container h2 {
    margin-bottom: 2em;
  }
  #form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    max-width: 100%;
  }
  #form p {
    width: 100%;
    text-align: left;
  }
  #form input {
    max-width: 75vw;
  }
  #form #submit {
    width: 75vw;
    cursor: pointer;
  }
  #output {
    max-width: 100%;
    margin-top: 2em;
  }
}
/*# sourceMappingURL=index.css.map */