.dark input {
  color: black;
}

.dark {
  background-color: #222;
  color: #e6e6e6;
}
.dark button {
  background-color: black;
  color: orange;
}
.dark .confirmSubmit:hover {
  background-color: #45aaf2;
  border: none;
  outline: none;
}
.dark .toggle {
  background-color: #222;
}

.button {
  background-color: darkgreen;
  border-color: red;
  color: white;
  font-size: 15px;
  /* padding:15px;
  padding-top:10px;
  padding-bottom:20px; */

  width: 200px;
  height: 30px;
  border: 2px solid green;
}

#submit:hover {
  background: linear-gradient(
    to right,
    rgb(207, 32, 32) 50%,
    rgb(51, 48, 48) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  box-shadow: 5px 5px 12px 1px rgb(48, 45, 45);
}
.toggle {
  float: right;
  font-size: 2em;
  text-align: center;
  cursor: pointer;
}

#submit:hover {
  background: linear-gradient(
    to right,
    rgb(182, 158, 25) 50%,
    rgb(209, 125, 16) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

#submit {
  border: 1px solid white;

  background-color: rgb(216, 152, 33);
  color: white;
  padding-bottom: 31px;
  position: relative;

  width: 627px;
  height: 70px;
  color: black;
  font-size: 30px;
}

#submit-dark {
  border: 1px solid black;

  background-color: rgb(130, 71, 224);
  box-shadow: -5px 5px 15px 4px rgb(78, 58, 119);
  padding-bottom: 31px;
  position: relative;
  top: 65vh;

  background-color: rgb(61, 36, 102);
  width: 620px;
  height: 57px;
}

#submit-dark:hover {
  background: linear-gradient(
    to right,
    rgb(42, 136, 165) 50%,
    rgb(76, 53, 179) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  transform: scale(1.3);
  box-shadow: 2px 8px 20px 4px rgb(41, 105, 165);
}

.confirmSubmit {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  font-weight: bold;
  transition: transform 0.2s;
  background-color: #145c9e;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  outline: none;
}

.confirmSubmit:hover,
.confirmSubmit:focus {
  background-color: #145c9e;
  transform: scale(1.02);
  font-size: large;
  color: #000;
  outline: none;
}

.confirmSubmit:active {
  box-shadow: inset -2px -2px 3px rgba(95, 93, 93, 0.6),
    inset 2px 2px 3px rgba(10, 9, 9, 0.6);
}

.gap-y-12 {
  height: 0vh;
  position: relative;
  top: -250px;
}

.result-div {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .result-division-bottom {
    height: 40%;
    margin-bottom: 40px;
  }
}

#footer {
  margin-top: 250px;
}

#header {
  margin-bottom: 110px;
  height: 120px;
}

#title {
  font-size: 35px;
}


