
.dark {
  background-color: #222;
  color: #e6e6e6;
}

.dark input {
  color: black;
}

.toggle {
  float: right;
  margin: 10px 10px 0px 0px;
  font-size: 2em;
  text-align: center;
  cursor: pointer;

}

#submit:hover {
  background: linear-gradient(to right, rgb(56, 56, 56) 50%, #222 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  top: -2px;
    opacity: 0.8;
}

#submit {
  border: 1px solid white;
  background-color: #222;
  color: white;
  background-color: black;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    transition: transform ease 0.4s;
    position: relative;
}