.dark input {
    color: black;
}

.dark {
  background-color: #222;
  color: #e6e6e6;
}
.dark button{
    background-color: black;
    color: white;
}
.dark .confirmSubmit:hover{
    background-color:rgba(220, 0, 0, 1);
}
.dark .toggle{
    background-color: #222;
}

#submit:hover {
  background: linear-gradient(to right, rgb(207, 32, 32) 50%, rgb(51, 48, 48) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  box-shadow: 5px 5px 12px 1px rgb(48, 45, 45);
}
.toggle{
    float: right;
    margin: 10px 10px 0px 0px;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
  }
  
  #submit:hover {
    background: linear-gradient(to right, rgb(182, 158, 25) 50%, rgb(209, 125, 16) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-out;
  }
  
  #submit {
    border: 1px solid white;
    background-color: rgb(216, 152, 33);
    color: white;
  }

  #submit-dark{
    border: 1px solid black;
    background-color: rgb(61, 36, 102);

  }
  
  #submit-dark:hover{
   
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-out;
  }

.confirmSubmit {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    transition: transform .2s;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.confirmSubmit:hover,.confirmSubmit:focus {
    background-color: rgba(255, 0, 0, 1);
    transform: scale(1.02);
   
}


.confirmSubmit:active {
    box-shadow: inset -2px -2px 3px rgba(95, 93, 93, 0.6),
                inset 2px 2px 3px rgba(10, 9, 9, 0.6);
}
     .button {
      background-color:darkgreen;
      border-color:red;
      color:white;
      font-size: 15px;
      padding:15px;
      padding-top:10px;
      padding-bottom:20px;
      width:200px; height:30px; border:2px solid green;
      }
      .center {
  		margin: 0;
  		position:absolute;
  		top: 150%;
  		left: 50%;
  		-ms-transform: translate(-50%, -50%);
  		transform: translate(-50%, -50%);
		}

a{
  text-decoration: none;
  color: antiquewhite;
}
header button{
  font-size: 25px;
}
.submit-button{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: larger;
  background: linear-gradient(to right, rgb(182, 158, 25) , rgb(209, 125, 16));
  height:4rem;
  border-radius: 5px;
  transform: scale(1);
}
.submit-button:hover{
  background: linear-gradient(to right, rgb(233, 199, 9) 50%, rgb(231, 134, 8) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}
.submit-button:active{
  transform: scale(1.2);
}


.fade-out{
  display: none;
}
.main-section{
  display: flex;
}
#output{
  margin: 4rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
footer{
  background-color: rgb(0, 0, 0);
  height: 3rem;
}
.sticky-footer{
  background-color: rgb(0, 0, 0);
  height: 3rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.social{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
}
.social a{
  color: aqua;
}